@import url('css/button.css');
@import url('css/link.css');

:root {
	--color-white: white;
	--color-doctor: #f9f9f9;
	--color-black-kilimanjaro: #383434;
	--color-piano-black: #1a1a1a;
	--color-pan-purple: #646cff;
	--color-secret-of-mana: #535bf2;
	--color-orchid: #747bff;

	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: var(--color-white);
	background-color: var(--color-black-kilimanjaro);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 1px;
}

@media (prefers-color-scheme: light) {
	:root {
		color: var(--color-black-kilimanjaro);
		background-color: var(--color-white);
	}
}

body {
	margin: 0;
	display: flex;
	place-items: center;
	min-width: 320rem;
	min-height: 100vh;
	font-size: 16rem;
}

#app {
	max-width: 1280rem;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}